<%- include('partials/header') -%>
<body>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Date</th>
                <th>Site</th>
                <th>Region</th>
                <th>Carburant</th>
                <th>Statut</th>
                <th>Origine</th>
                <th>Livraison (BL)</th>
                <th>Stock d'ouverture</th>
                <th>Stock théorique final</th>
                <th>Stock réel final</th>
                <th>Différence</th>
                <th>Volume de ventes</th>
                <th>Tests de pompe</th>
                <th>Ecarts vs vente pour 1000</th>
                <th>Cumul vente</th>
                <th>Cumul écarts</th>
                <th>%Cumul écarts vente</th>
            </tr>
        </thead>
    <tbody class="tbody" style="font-weight: 100;">  
        <% cds_data.forEach((data)=> { %>
        <tr>
            <th><%= data.Date %></th>
            <th><%= data.Site %></th>
            <th><%= data.Region %></th>
            <th><%= data.Carburant %></th>
            <th><%= data.Statut %></th>
            <th><%= data.Origine %></th>
            <th><%= data.Livraison_BL %></th>
            <th><%= data.Stock_d_ouverture %></th>
            <th><%= data.Stock_theorique_final %></th>
            <th><%= data.Stock_reel_final %></th>
            <th><%= data.Difference %></th>
            <th><%= data.Volume_de_ventes %></th>
            <th><%= data.Tests_de_pompe %></th>
            <th><%= data.Ecarts_vs_vente_pour_1000 %></th>
            <th><%= data.Cumul_vente %></th>
            <th><%= data.Cumul_ecarts %></th>
            <th><%= data.Cumul_ecarts_vente %></th>
        </tr>
        <% }) %>
    </tbody>    
    </table>l

    <a href="/login"> go to login </a>
    <a href="/logout"> logout </a>
</body>
<%- include('partials/footer') -%>